<!DOCTYPE html>
<html>
    <style>
        nav {
        background-color: #ecececf7; /* Helles Grau */
        display: flex;
        justify-content: space-between;
        padding: 0.6em;
        }
    
        #logo {
        width: 6em; /* Breite des Logos anpassen */
        height: 3em; /* Höhe des Logos anpassen */
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
        }
    
        .main {
        border-radius: 0.313em;
        padding: 2em;
        background-color: #C4C4C5;
        height: 30em;
        margin: 3em 2em 3em 2em;
    
        }
    
        body {
        background-color: #ECECEC;
        }
    
        #main-buttons{
        background-color: #28282c; /* Hintergrundfarbe mittelgrau */
        color: white; /* Textfarbe weiß */
        border: none; /* Kein Rahmen */
        padding: 10px 50px; /* Innenabstand */
        border-radius: 5px; /* Abgerundete Ecken */
        margin-bottom: 20px;
    }
    
        #logout-button{
        background-color: #28282c; /* Hintergrundfarbe mittelgrau */
        color: white; /* Textfarbe weiß */
        border: none; /* Kein Rahmen */
        padding: 10px 50px; /* Innenabstand */
        border-radius: 5px; /* Abgerundete Ecken */
        float: right; /* Element nach rechts floaten */
        }
    
        input[name="userName"],input[name="userPassword"]{
        font-family: Arial, sans-serif;
        border: 2px solid gray;
        border-radius: 8px;
        padding: 5px;
        margin-bottom: 1em;
    
        }
        h1 {
        font-size: 2em; /* Schriftgröße vergrößern */
        font-family: Arial, sans-serif; /* Schriftart ändern */
        }
    
        hr {
        border: none;
        height: 1.5px;
        background-color: gray;
        margin: 1em 0;
        width:50%;
        }
    </style>
    <body>
        <nav>
            <img src="images/logo_aprg.png" id="logo" alt="Logo">
            <form action="/logOut" method="post">
                <button type="submit" id="logout-button">Log out</button>
            </form>
        </nav>
        <div class="main">
        <h1>Auswertung</h1>
        <%
        let richtigeAntworten = 0;
        for(let i = 0; i < aufgaben.length; i++){
            if(richtig[i] === "Richtig."){
                richtigeAntworten += 1;
            }
            %>

            <p>Aufgabe <%=i+1%>: <%=aufgaben[i]%> <br>
            Ihre Antwort:<%=benutzerAntworten[i]%> <br>
            Ihre Antwort ist <%=richtig[i]%> <br>
            <%if(richtig[i]==="Falsch."){
                %><p>Die richtige Antwort ist: <%=lösungen[i]%></p>
                <%
            }
            %>
            </p>
            
            <%
        }
        %>
        
        <p>Punkte: <%=richtigeAntworten%>/<%=aufgaben.length%></p>

        <form action="/select" method = "post">
            <button type="submit"id="main-buttons">Neuer Test</button>
        </form>

        <form action="/userHome" method="post"> 
            <button type="submit"id="main-buttons">Home</button>
        </form>
        
        </div>
    </body>      
</html>

